GCP_PROJECT_ID=flightwatch-486618
GCS_BUCKET=flight-batch-v1
GCS_FILE_PATH=flight_data_batch.csv
GOOGLE_APPLICATION_CREDENTIALS=service-account-key.json
AMADEUS_CLIENT_ID=3Rn1b7TGmYGROcHLBOdemD35oZCfTwTV
AMADEUS_CLIENT_SECRET=x8rks3BLDRxRhSNC
INGEST_RAW_BUCKET=
INGEST_RAW_PREFIX=raw
INGEST_MAX_OFFERS=20
INGEST_MAX_RETRIES=3
SENDGRID_API_KEY=
FROM_EMAIL=
SCHEDULER_TOKEN=
